{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lysa Calendar</title>

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
	<!-- <link rel="stylesheet" href="{% static 'custom.css' %}"> -->
	<link rel="stylesheet" href="{% static 'style.css' %}">



	<link rel="stylesheet" href="{% static 'full_calendar/main.css' %}">
	<style>
		.fc .fc-details-button {
			background-color: blue;
		}



		#app {
			background-color: rgb(251, 199, 251);
		}

		@media screen and (max-width:767px) {
			.fc .fc-toolbar.fc-header-toolbar {
				font-size: 60%
			}

			.fc .fc-timegrid-slot {
				font-size: 60%;

			}

		}

		.fc .fc-details-button {
			background-color: blue;
		}


		.fc .fc-view-harness {
			background-color: #FBFBFB;

			height: 100%;
			width: 75%;
			margin: auto;

		}

		.fc .fc-timegrid-slot {
			height: 1px;
			border-bottom: 0 !important;
			/* background-color: floralwhite; */


		}

		.fc .fc-view-harness fc-view-harness-active {
			background-color: antiquewhite;
		}


		.calendar-wd__popbar {
			background: #FFCBC3;
			z-index: 3333;
			position: absolute;
			text-align: left;
			padding: 10px;
			border-radius: 4px;
			top: 2%;
			left: 2%;
			width: 96%;
			height: 100%;
			border-radius: 15px;
			color: #F37764;
			z-index: 999999;
		}

		.calendar-wd__form-three_drag {
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease;
			transform: translateY(-20px);
		}

		.calendar-wd__form-three_drag.active-event {
			opacity: 1;
			visibility: visible;
			transform: translateY(0px);
		}

		.calendar-wd__form-three_drag {
			background: #fff;
			width: 800px;
			margin: 0 auto;
			right: 0;
			position: absolute;
			z-index: 999999;
			box-shadow: 0px 0px 5px #00000054;
			top: 25px;
			padding: 0;
			border: none;
			z-index: 333333333333;
			left: -100px;
		}

		.form-group.project-dropdown:before {
			content: "";
			position: absolute;
			left: 10px;
			top: 10px;
			width: 10px;
			height: 10px;
			background: #FFCBC3;
			z-index: 333;
			border-radius: 100%;
		}

		div.project-dropdown select:before {
			content: "";
			position: absolute;
			left: 0;
			width: 10px;
			height: 10px;
			background: red;
		}

		.form-group.project-dropdown select {
			padding-left: 20px;
		}

		.form-control {
			border: solid 1px #eee;
			text-align: center;
		}
	</style>


</head>

<body>

	<div class="calendar-wd__section" id="app">

		

		<div class="calendar-wd">
			<div id='calendar'></div>
			<br>
			<br>
			<div class="calendar-wd__form calendar-wd__form-three">
				<div class="close-icon close-three" @click.prevent="onClose"><img src="{% static 'img/close.png' %}"
						alt=""></div>
				<div class="calendar-wd__form-three--one">
					<div class="calendar-wd__form-three-head">
						<ul class="list-group calendar-wd__form-three-list" id="list-tab" role="tablist"
							style="list-style-type:none">
							<li><a @click.prevent="onEdit" class="list-group-item" data-bs-toggle="list" href="#"
									role="tab"><img src="{% static 'img/pen.png' %}" alt="#"></a></li>
							<li><a class="list-group-item" @click.prevent="onDelete" data-bs-toggle="list" href="#"
									role="tab"><i class="far fa-trash-alt"
										style="font-size:20px; color: black;"></i></a></li>
							<li><a class="list-group-item" data-bs-toggle="list" href="#" role="tab"><img
										src="{% static 'img/message.png' %}" alt="#"></a></li>
							<li><a class="list-group-item" data-bs-toggle="list" href="#f-tab6" role="tab"><i
										class="icofont-bread"></i><img src="{% static 'img/bell-2.png' %}" alt="#"></a>
							</li>
							<!-- <li><a class="list-group-item" data-bs-toggle="list" href="#f-tab6" role="tab" style="display: none;"><i
										class="icofont-bread"></i><img src="{% static 'img/bell-2.png' %}" alt="#"></a>
							</li> -->
						</ul>
						<img src="{% static 'img/calander-banner.png' %}">
						<!-- delete modal start here -->

					</div>
					<div class="calendar-wd__form-three-body">
						<div class="tab-content" id="nav-tabContent">
							<!-- Property Tab One -->
							<div class="tab-pane fade show active" id="f-tab3" role="tabpanel">
								<div class="calendar-wd__form-separate-column">
									<div class="calendar-wd__form-three-one">
										<div class="calendar-wd__form-three-title">
											<span :style="{background:event_color}">[[calendar_name]]</span>
										</div>
										<p class="mt-0">[[event_title]]</p>
										<div class="calendar-wd__form-body">
											<div class="calendar-wd__form-single">
												<h4 class="calendar-wd__form-heading"><i
														class="far fa-calendar-alt"></i>
													[[interval]]</h4>
											</div>
											<div class="calendar-wd__form-single">
												<span><i class="fas fa-map-marker-alt"
														style="color: #FFCBC3; font-size: 22px;"></i></span>
												<span class="ms-3"><a href="#">[[event_location]]</a></span>

												<!-- <h4 class="calendar-wd__form-heading"></h4> -->
											</div>
											<div class="calendar-wd__form-single">
												<p>
													[[description]]

												</p>
											</div>
										</div>
									</div>
									<div class="calendar-wd__form-three-two">
										<ul class="calendar-wd__form-list-img calendar-wd__form-list-two"
											v-for="attendee in attendees">
											<li><img src="{% static 'img/icon.png' %}"
													alt="#">[[attendee.event_attendee]]</li>

										</ul>
										<div class="calander-wd__button calander-wd__button-guest">
											<span class="plus-icon"><a href="#"><i class="fa fa-plus"></i></span>Add
											guests</a>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="f-tab4" role="tabpanel">
								<div class="calendar-wd__form-three--two">
									<div class="">
										<form @submit.prevent="oneditEvent(edit.event_id)">
											<div class="form-group row">
												<div class="col-2">
													<label for="eventName" class="mt-2">Event Name :</label>
												</div>
												<div class="col-10">
													<input id="eventName" v-model="edit.event_title" type="text"
														class="form-control form-control-lg">
												</div>
											</div>
											<div class="form-group row mt-5" v-if="edit.isallDay">
												<div class="col-2">
													<label class="mt-2" for="startDate"> Start Date :</label>
												</div>
												<div class="col-4">
													<input id="startDate" v-model="edit.start_date" type="text"
														class="form-control form-control-lg">
												</div>
												<div class="col-2">
													<label class="mt-2" for="endtDate"> End Date :</label>
												</div>
												<div class="col-4">
													<input id="endDate" v-model="edit.end_date" type="text"
														class="form-control form-control-lg">
												</div>
											</div>
											<div class="form-group row mt-5" v-else>
												<div class="col-2">
													<label class="mt-2" for="startDate"> Start Date :</label>
												</div>
												<div class="col-10">
													<input id="startDate" v-model="edit.start_date" type="text"
														class="form-control form-control-lg">
												</div>
											</div>

											<div class="form-group row mt-5">
												<div class="col-2">
													<label class="mt-2" for="startTime"> Start Time :</label>
												</div>
												<div class="col-4">
													<input id="startTime" v-model="edit.start_time" type="text"
														class="form-control form-control-lg">
												</div>
												<div class="col-2">
													<label class="mt-2" for="endtTime"> End Time :</label>
												</div>
												<div class="col-4">
													<input id="endTime" type="text" v-model="edit.end_time"
														class="form-control form-control-lg">
												</div>
											</div>
											<div class="form-group row mt-5">
												<div class="col-2">
													<label for="eventLocation" class="mt-2">Location :</label>
												</div>
												<div class="col-10">
													<input id="eventLocation" v-model="edit.event_location" type="text"
														class="form-control form-control-lg">
												</div>
											</div>
											<div class="form-group row mt-5">
												<div class="col-2">
													<label for="calendarName" class="mt-2">Calendar Name :</label>
												</div>
												<div class="col-10">
													<select v-model="edit.calendar_name" 
														@change="selectedCalendar($event)"
														class="form-select form-select-lg"
														aria-label="Default select example">
														<option v-for="calendar in edit.calendars"
															:value="calendar.calendar_name"> <span
																class="me-2" style="background-color: red;">&#9679; </span>
																<span>[[calendar.calendar_name]]</span>
														</option>
													</select>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-2"></div>
												<div class="col-10">
													<div class="input-group mb-3">
														<input type="text" class="form-control form-control-lg"
															aria-label="Attendee" aria-describedby="basic-addon1">
														<span class="input-group-text" style="font-size:20px"
															type="button" id="basic-addon1">+</span>
													</div>
												</div>
											</div>
											<div class="form-group row mt-5">
												<div class="col-2"></div>
												<div class="col-8">
													<div class="btn-toolbar text-center">
														<button type="button" id="btnSubmit"
															class="btn btn-secondary btn-lg me-3">More Options</button>
														<button type="submit" id="btnSubmit"
															class="btn btn-primary btn-lg me-3">Save</button>
														<button type="button" @click.prevent="backTopopup"
															id="btnCancel" class="btn btn-danger btn-lg">Cancel</button>
													</div>
												</div>
												<div class="col-2"></div>
											</div>
										</form>
										{% comment %}
										<form class="form">
											<div class="form-group">
												<div class="input-group">
													<input id="datepick" v-model="edit.event_title" type="text"
														placeholder="">
												</div>
											</div>
											<div class="form-group calendar-wd__date-pick">
												<div class="form-control wide" tabindex="0"><i
														class="fa fa-calendar"></i><span class="current"><input
															id="datepick" v-model="edit.interval" type="text"
															placeholder=""></span></div>
											</div>
											<div class="form-group">
												<div class="list-inner-group">
													<div class="list-single-group">
														<select v-model="edit.start_time" class="form-select"
															aria-label="Default select example">
															<option selected>[[edit.start_time]]</option>
															<option>
																15.30</option>
															<option value="1">15.30
															</option>
															<option value="2">15.30
															</option>
															<option value="3">15.30
															</option>
														</select>
													</div>
													<div class="list-single-group">
														<select v-model="edit.end_time" class="form-select"
															aria-label="Default select example">
															<option selected>[[edit.end_time]]</option>
															<option>
																15.30</option>
															<option value="1">15.30
															</option>
															<option value="2">15.30
															</option>
															<option value="3">15.30
															</option>
														</select>

													</div>
													<div class="list-single-group   project-dropdown">
														<select class="form-select" aria-label="Default select example">
															<option selected="">Don't repeat</option>
															<option value="1">Don't repeat</option>
															<option value="2">Don't repeat</option>
															<option value="3">Don't repeat</option>
														</select>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="input-group">
													<span class="input-icon"><i class="fa fa-map-marker"></i></span>
													<input id="datepick" v-model="edit.event_location" type="text"
														placeholder="Add location">

												</div>
											</div>
											<div class="form-group">
												<div class="form-group">
													<select v-model="edit.calendar_name" :style="{color:event_color}"
														@change="selectedCalendar($event)" class="form-select"
														aria-label="Default select example">
														<option v-for="calendar in edit.calendars"
															:value="calendar.calendar_name"> <span
																class="me-2">&#9679;</span> <span
																style="color: black;">[[calendar.calendar_name]]</span>
														</option>
													</select>
												</div>
											</div>
											<div class="form-group">
												<div class="input-group">
													<textarea class="p-3" name="" id="" cols="70" rows="5"
														v-model="edit.description"></textarea>
												</div>
											</div>
											<div class="form-group select-man mt-3">
												<ul class="select-list-img" style="list-style-type:none"
													v-for="attendee in edit.attendees">
													<li><a href="#"><img src="{% static 'img/icon.png' %}"
																alt="#">[[attendee.event_attendee]]</a>
													</li>
												</ul>
												<ul style="list-style-type:none">
													<li> <span><i class="fa fa-plus"></i></span> <span>Add People</span>
													</li>
												</ul>
											</div>
											<div class="form-group">
												<ul class="calendar-wd__clist">
													<li><img src="{% static 'img/calender.png' %}">Email Participants
													</li>
													<li><img src="{% static 'img/memo.png' %}">Add Notes</li>
													<li><img src="{% static 'img/bell.png' %}">Set Reminder</li>
												</ul>
											</div>
											<div class="form-group button">
												<button type="submit" class="theme-btn theme-sec">More options</button>
												<b class="theme-btn theme-primary calendar-wd__submit">Save</b>
												<b class="btn btn-danger btn-sm" @click.prevent="backTopopup">cancel</b>

											</div>
										</form>
										{% endcomment %}
									</div>
								</div>
							</div>

							<div class="tab-pane fade" id="f-tab_delete" role="tabpanel">
								<div class="calendar-wd__form-three--two">
									<div class="calendar-wd__form-1">
										<form class="form" @submit.prevent="onDeleteEvent(event_id)">
											<h1 class="text-center mb-3">Are you sure want to delete Event?</h1>
											<div class="form-group button">
												<button class="btn btn-danger btn-sm"
													@click.prevent="backTopopup">cancel</button>
												<button type="submit" class="btn btn-primary btn-sm ms-3">Yes</button>
											</div>
										</form>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="calendar-wd__form calendar-wd__form-three_drag">
				<div class="close-icon close-three" @click="onCloseDrag"><img src="{% static 'img/close.png' %}" alt="">
				</div>

				<div class="calendar-wd__form-three-body">
					<div class="calendar-wd__form-three--two">
						<div class="calendar-wd__form-1">
							<form action="" @submit.prevent="saveEvent">
								<div class="form-group row">
									<div class="col-2">
										<label for="eventName" class="mt-2">Event Name :</label>
									</div>
									<div class="col-10">
										<input id="eventName" v-model="drag.drag_event_name" type="text"
											class="form-control form-control-lg">
									</div>
								</div>
								<div class="form-group row mt-5" v-if="drag.isallDay">
									<div class="col-2">
										<label class="mt-2" for="startDate"> Start Date :</label>
									</div>
									<div class="col-4">
										<input id="startDate" v-model="drag.start_date" type="text"
											class="form-control form-control-lg">
									</div>
									<div class="col-2">
										<label class="mt-2" for="endtDate"> End Date :</label>
									</div>
									<div class="col-4">
										<input id="endDate" v-model="drag.end_date" type="text"
											class="form-control form-control-lg">
									</div>
								</div>
								<div class="form-group row mt-5" v-else>
									<div class="col-2">
										<label class="mt-2" for="startDate"> Start Date :</label>
									</div>
									<div class="col-10">
										<input id="startDate" v-model="drag.start_date" type="text"
											class="form-control form-control-lg">
									</div>
								</div>

								<div class="form-group row mt-5">
									<div class="col-2">
										<label class="mt-2" for="startTime"> Start Time :</label>
									</div>
									<div class="col-4">
										<input id="startTime" v-model="drag.start_time" type="text"
											class="form-control form-control-lg">
									</div>
									<div class="col-2">
										<label class="mt-2" for="endtTime"> End Time :</label>
									</div>
									<div class="col-4">
										<input id="endTime" type="text" v-model="drag.end_time"
											class="form-control form-control-lg">
									</div>
								</div>
								<div class="form-group row mt-5">
									<div class="col-2">
										<label for="eventLocation" class="mt-2">Location :</label>
									</div>
									<div class="col-10">
										<input id="eventLocation" v-model="drag.location" type="text"
											class="form-control form-control-lg">
									</div>
								</div>
								<div class="form-group row mt-5">
									<div class="col-2">
										<label for="eventDescription" class="mt-2">Description :</label>
									</div>
									<div class="col-10">
										<input id="eventDescription" v-model="drag.description" type="text"
											class="form-control form-control-lg">
									</div>
								</div>
								<div class="form-group row mt-5">
									<div class="col-2">
										<label for="calendarName" class="mt-2">Calendar Name :</label>
									</div>
									<div class="col-10">
										<select v-model="cal_name" @change="selectedCalendar($event)"
											class="form-select" aria-label="Default select example">
											<option v-for="calendar in calendars" :value="calendar.calendar_name">
												[[calendar.calendar_name]]</option>
										</select>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-2"></div>
									<div class="col-10">
										<div class="input-group mb-3">
											<input type="text" class="form-control form-control-lg"
												aria-label="Attendee" aria-describedby="basic-addon1">
											<span class="input-group-text" style="font-size:20px" type="button"
												id="basic-addon1">+</span>
										</div>
									</div>
								</div>
								<div class="form-group row mt-5">
									<div class="col-2"></div>
									<div class="col-8">
										<div class="btn-toolbar text-center">
											<button type="button" id="btnSubmit"
												class="btn btn-secondary btn-lg me-3">More Options</button>
											<button type="submit" id="btnSubmit"
												class="btn btn-primary btn-lg me-3">Save</button>
											<button type="button" @click.prevent="backTopopup" id="btnCancel"
												class="btn btn-danger btn-lg">Cancel</button>
										</div>
									</div>
									<div class="col-2"></div>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
	<script src="{% static 'js/all.min.js' %}"></script>

	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static '/full_calendar/main.js'%}"></script>
	<script src='https://cdn.jsdelivr.net/npm/moment@2.27.0/min/moment.min.js'></script>
	<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/moment@5.5.0/main.global.min.js'></script>


	{% if debug %}
	<script src="{% static 'js/vue.js' %}"></script>
	{% else %}
	<script src="{% static 'js/vue.min.js' %}"></script>
	{% endif %}

	<script>


		var app = new Vue({
			el: '#app',
			delimiters: ['[[', ']]'],
			data: {
				weekly_events: [],
				popup: false,
				event_title: '',
				calendar_name: '',
				attendees: [],
				calendars: [],
				start_time: '',
				end_time: '',
				event_location: '',
				start_date: '',
				edit_st_date: '',
				description: '',
				popup: false,
				flag: null,
				interval: '',
				cal_name: null,
				event_id: null,
				event_color: '',
				allDayEvent: false,
				single_day_start_date: '',
				single_day_end_date: '',

				all_day_start_date: '',
				all_day_end_date: '',


				edit: {
					event_title: '',
					attendees: [],
					calendars: [],
					calendar_name: '',
					event_location: '',
					description: '',
					start_date: '',
					end_date: '',
					event_id: null,

					start_time: '',
					end_time: '',

					isallDay: false,
					single_day_start_date: '',
					single_day_end_date: '',
					// single_day_start_time: '',
					// single_day_end_time: '',

					all_day_start_date: '',
					all_day_end_date: '',
					// all_day_start_time: '00:00',
					// all_day_end_time: '00:00',
				},
				drag: {
					selectionInfo: null,
					calendar: '',
					drag_event_name: '',
					location: '',
					start_date: '',
					end_date: '',
					start_time: '',
					end_time: '',
					cal_name: '',
					cal_color: '',
					description: '',
					isallDay: false,
				}

			},
			mounted: function () {
				this.showEvents();
				this.getCalendars();
			},
			methods: {
				onClose: function () {
					console.log('test');
					$(".calendar-wd__form-three").toggleClass('active-event');
				},
				onCloseDrag: function () {
					$("#eventpick").val('');
					$(".calendar-wd__form-three_drag").toggleClass('active-event');

				},

				onEdit: function () {
					$('#f-tab4').addClass('show active');
					$('#f-tab3').removeClass('show active');

					console.log(this.event_color);
					if (this.allDayEvent == true) {
						this.edit.isallDay = true;
						this.edit.start_date = this.all_day_start_date;
						this.edit.end_date = this.all_day_end_date;
					}
					else {
						this.edit.isallDay = false;
						this.edit.start_date = this.single_day_start_date;
						this.edit.end_date = this.single_day_end_date;

					}

					this.edit.event_title = this.event_title;
					this.edit.attendees = this.attendees;
					this.edit.calendars = this.calendars;
					this.edit.start_time = this.start_time;
					this.edit.end_time = this.end_time;
					this.edit.calendar_name = this.calendar_name;
					this.edit.event_location = this.event_location
					this.edit.description = this.description;
					this.edit.event_id = this.event_id;


					// $(".dot").css('backgroundColor', this.event_color);
					// $(".dot").css('border-radius', '50%');
					// $(".dot").css('height', '25px');
					// $(".dot").css('width', '25px');
					// $(".dot").css('display', 'inline-block');

				},
				onDelete: function () {
					$("#f-tab_delete").addClass('show active');
					$('#f-tab3').removeClass('show active');
					$('#f-tab4').removeClass('show active');

				},
				backTopopup: function () {
					this.edit.event_title = '';
					this.edit.attendees = [];
					this.edit.calendars = [];
					this.edit.calendar_name = '';
					this.edit.event_location = '';
					this.edit.start_time = '';
					this.edit.end_time = '';
					this.edit.description = '';
					this.edit.interval = '';
					$('#f-tab4').removeClass('show active');
					$('#f-tab3').addClass('show active');
					$("#f-tab_delete").removeClass('show active');

				},
				selectedCalendar: function (value) {
					this.drag.cal_name = this.cal_name;

				},

				showEvents: function () {
					var that = this;
					$.ajax({
						method: 'GET',
						url: 'api/event-filter/' + 'weekly',
					}).then(response => {
						console.log(response);

						that.weekly_events = response.events;

						that.weeklyCalendar();
					})
				},
				oneditEvent: function (event_id) {
					let formData = {}
					console.log(this.edit.start_date);
					console.log(this.edit.start_time);
					console.log(this.allDayEvent);
					console.log(new Date(this.edit.start_date));

					var st_month = ("0" + (new Date(this.edit.start_date).getMonth() + 1)).slice(-2);
					var st_date = ("0" + (new Date(this.edit.start_date).getDate())).slice(-2);

					var ed_month = ("0" + (new Date(this.edit.end_date).getMonth() + 1)).slice(-2);
					console.log(ed_month);
					var ed_date = ("0" + (new Date(this.edit.end_date).getDate())).slice(-2);


					var new_start_date = '2022' + '-' + st_month + '-' + st_date + "T" + this.edit.start_time + ":00";
					console.log(new_start_date, 'new start date')
					if (!this.allDayEvent) {
						var new_end_date = '2022' + '-' + st_month + '-' + st_date + "T" + this.edit.end_time + ":00";
						console.log(new_end_date, 'if secrion new end date');

					}
					else {
						var new_end_date = '2022' + '-' + ed_month + '-' + ed_date + "T" + this.edit.end_time + ":00";
						console.log(new_end_date, 'else new end date');
					}
					console.log(this.edit.event_location);

					formData.event_name = this.edit.event_title;
					formData.event_start_dt = new_start_date;
					formData.event_end_dt = new_end_date;
					formData.event_description = this.edit.description;
					formData.event_location = this.edit.event_location;
					formData.calendar_info_id = this.edit.calendar_name;
					$.ajax({
						method: 'PUT',
						url: 'api/edit-event/' + event_id,
						data: JSON.stringify(formData),
						contentType: 'application/json'
					}).then(response => {
						this.showEvents();
						$(".calendar-wd__form-three").toggleClass('active-event');
						// $('#f-tab4').removeClass('show active');
						
						// $('#f-tab3').addClass('show active');

					}).fail(errors => {
						console.log(errors);
					})
				},
				onDeleteEvent: function (event_id) {
					console.log(event_id);
					$.ajax({
						method: 'DELETE',
						url: 'api/delete-event/' + event_id,
					}).then(response => {
						location.href = '/';
					}).fail(errors => {
						console.log(errors);
					})
				},
				getCalendars: function () {
					var that = this;
					$.ajax({
						method: 'GET',
						url: 'api/calendars/',
					}).then(response => {
						that.calendars = response;
						console.log(that.calendars);
						that.cal_name = response[0].calendar_name;
						that.drag.cal_name = response[0].calendar_name;
						console.log(that.cal_name);
					})
				},

				saveEvent: function () {
					console.log(this.drag.drag_event_name);
					calendar = this.drag.calendar;

					console.log(this.drag.selectionInfo.allDay);
					$.ajax({
						method: 'GET',
						url: 'api/cal-color/' + this.drag.cal_name,
					}).then(response => {
						console.log(response);
						calendar.addEvent({
							title: this.drag.drag_event_name,
							start: this.drag.selectionInfo.start,
							end: this.drag.selectionInfo.end,
							allDay: this.drag.selectionInfo.allDay,
							color: response,
						});
						this.calendar_name = this.drag.cal_name;
						this.saveBackendEvent();

					})


					$(".calendar-wd__form-three_drag").toggleClass('active-event');
				},
				saveBackendEvent: function () {
					console.log(this.drag.start_date)
					console.log(this.drag.end_date)
					console.log(this.drag.start_time);
					console.log(this.drag.end_time)
					console.log(this.drag.selectionInfo.start)

                    var st_year = (this.drag.selectionInfo.start).getFullYear();
					console.log(st_year)
					var ed_year = (this.drag.selectionInfo.end).getFullYear();
					console.log(ed_year)
					var st_month = ("0" + (new Date(this.drag.start_date).getMonth() + 1)).slice(-2);
					var st_date = ("0" + (new Date(this.drag.start_date).getDate())).slice(-2);

					var ed_month = ("0" + (new Date(this.drag.end_date).getMonth() + 1)).slice(-2);
					console.log(ed_month);
					var ed_date = ("0" + (new Date(this.drag.end_date).getDate())).slice(-2);


					var new_start_date = st_year + '-' + st_month + '-' + st_date + "T" + this.drag.start_time + ":00";
					console.log(new_start_date, 'new start date')
					if (!this.drag.selectionInfo.allDay) {
						// var new_end_date = ed_year + '-' + st_month + '-' + st_date + "T" + this.drag.end_time + ":00";
						// console.log(new_end_date, 'if secrion new end date');
						if( st_date == ed_date){
							var new_end_date = ed_year + '-' + ed_month + '-' + ed_date + "T" + this.drag.end_time + ":00";
							console.log(new_end_date, 'else new end date');
							this.drag.selectionInfo.allDay = false;
						}
						else{
							var new_end_date = ed_year + '-' + ed_month + '-' + ed_date + "T" + this.drag.end_time + ":00";
							this.drag.selectionInfo.allDay = true;
						}
						

					}
					else {
						if( st_date == ed_date){
							var new_end_date = ed_year + '-' + ed_month + '-' + ed_date + "T" + this.drag.end_time + ":00";
							console.log(new_end_date, 'else new end date');
							this.drag.selectionInfo.allDay = true;
						}
						else{
							var new_end_date = ed_year + '-' + ed_month + '-' + ed_date + "T" + this.drag.end_time + ":00";
							console.log(new_end_date, 'else new end date');
							this.drag.selectionInfo.allDay = true;
						}
					
					}
					
						
					var formData = {};
					console.log(this.drag.selectionInfo.allDay)
					formData.event_name = this.drag.drag_event_name;
					formData.event_start_dt = new_start_date;
					formData.event_end_dt = new_end_date;
					formData.event_description = this.drag.description;
					formData.event_location = this.drag.location;
					formData.calendar_info_id = this.drag.cal_name;
					formData.all_day_flg = this.drag.selectionInfo.allDay;

					$.ajax({
						method: 'POST',
						url: 'api/drag-event-save/',
						data: JSON.stringify(formData),
						contentType: 'application/json'
					}).then(response => {
						// location.href = '/';
						alert('sucessfully');
						this.showEvents();
					}).fail(errors => {
						alert('falid to create');
						console.log(errors);
					})

				},


				weeklyCalendar: function () {
					var that = this;
					var calendarEl = document.getElementById('calendar');
					// calendarEl.addEventListener("click", function () {
					// 	alert("Hello World!");
					// });

					var calendar = new FullCalendar.Calendar(calendarEl, {

						select: function (selectionInfo) {
							console.log('drag');
							$('.calendar-wd__form-three_drag').addClass('active-event');

							// if ($('.calendar-wd__form-three_drag').hasClass('active-event')) {
							// 	$("#calendar").click(function (e) {
							// 		// var dtg = $(e.target).parents(".fc-highlight").get(0);
							// 		// console.log(dtg);
							// 		// if (!dtg) {
							// 		// }
							// 		$('.calendar-wd__form-three_drag').removeClass('active-event');

							// 	});
							// }
							// else{
							// 	$('.calendar-wd__form-three_drag').addClass('active-event');
							// }
							// that.saveEvent(calendar, selectionInfo);

							if (selectionInfo.start.getDate() != selectionInfo.end.getDate()) {
								console.log(that.drag.isallDay);
								that.drag.isallDay = true;
							}
							else {
								console.log('drag_date');
								that.drag.allDay = false;

							}

							console.log(selectionInfo.start);
							var st = new Date(selectionInfo.start);
							console.log(selectionInfo.end);
							var ed = new Date(selectionInfo.end);
							console.log(ed);
							var st_date = st.getDate();
							var st_year = st.getFullYear();
							var st_month = st.toLocaleString('en-us', { month: 'long' });
							var st_day = st.toLocaleString('en-us', { weekday: 'short' });

							var ed_date = ed.getDate();
							if(selectionInfo.allDay == true){
								var ed_date = ed.getDate() - 1 ;
							}
							else{
								ed_date = ed.getDate(); 
							}
							// ed_date = ed.getDate();
							var ed_year = ed.getFullYear();
							var ed_month = ed.toLocaleString('en-us', { month: 'long' });
							var ed_day = ed.toLocaleString('en-us', { weekday: 'short' });
							// console.log(st_date)
							// console.log(st_year)
							// console.log(st_month)
							// console.log(st_day)
							var st_minute = ('0' + new Date(st).getMinutes()).slice(-2);
							var st_hour = ('0' + new Date(st).getHours()).slice(-2);

							var ed_minute = ('0' + new Date(ed).getMinutes()).slice(-2);
							var ed_hour = ('0' + new Date(ed).getHours()).slice(-2);

						

							var start_date = st_month + ' ' + st_date + ',' + ' ' + st_year + " (" + st_day + ")";
							var end_date = ed_month + ' ' + ed_date + ',' + ' ' + ed_year + " (" + ed_day + ")";

							var start_time = st_hour + ":" + st_minute;
							var end_time = ed_hour + ":" + ed_minute;
							console.log(selectionInfo);
							that.drag.selectionInfo = selectionInfo;
							that.drag.calendar = calendar;
							that.drag.start_time = start_time;
							that.drag.end_time = end_time;
							that.drag.start_date = start_date;
							that.drag.end_date = end_date;
							console.log(that.drag.start_date, that.drag.end_date, 'creating');

						},


						headerToolbar: {
							left: 'prev,add_event,slot,today',
							center: 'title',
							right: 'setting,dayGridMonth,timeGridWeek,timeGridDay,listWeek,next'
						},
						customButtons: {
							add_event: {
								text: '+ Add Event',
							},
							slot: {
								text: 'Find Slot',
							},
							setting: {
								text: 'setting',
								// bootstrapFontAwesome:'fas fa-cog',
							},

						},
						droppable: true,
						eventResizableFromStart: true,
						eventStartEditable: true,
						initialView: 'timeGridWeek',
						alldaySlot: true,
						duration: { hours: 8 },
						slotDuration: '00:30',
						navLinks: true, // can click day/week names to navigate views
						nowIndicator: true,

						weekNumbers: true,

						editable: true,
						// defaultView: 'week',
						selectable: true,
						dayMaxEvents: true,
						allDayMaintainDuration: true,
						events: that.weekly_events,
						eventDidMount: function (info) {
							now = new Date()
							if (info.event.end < now) {
								info.el.style.opacity = "0.5";
							}

							// {description: "Lecture", department: "BioChemistry"}
						},
						eventDataTransform: function (event) {
							if (event.allDay) {
								// moment(end_date, 'YYYY-MM-DD').add(1, 'days').format('YYYY-MM-DD HH:mm:SS')                                                                                                                                            
								event.end = moment(event.end, 'YYYY-MM-DD').add(1, 'days').format('YYYY-MM-DD HH:mm:SS')
							}
							return event;
						},
						eventClick: function (event) {
							console.log(event);

							$('.calendar-wd__form-three').addClass('active-event');
							$('#f-tab4').removeClass('show active');
							$('#f-tab3').addClass('show active');
							that.event_id = event.event._def.extendedProps.event_id;
							that.event_title = event.event._def.title;
							that.event_location = event.event._def.extendedProps.event_location;
							that.description = event.event._def.extendedProps.event_description.slice(0, 400);
							that.event_color = event.event.backgroundColor;
							console.log(that.event_color);
							that.allDayEvent = event.event.allDay;

							// that.start_time = new Date(event.event.start).toLocaleTimeString();
							// that.end_time = new Date(event.event.end).toLocaleTimeString();
							var st_date = new Date(event.event.start);
							var ed_date = new Date(event.event.end);
							date = st_date.getDate();
							year = st_date.getFullYear();
							month = st_date.toLocaleString('en-us', { month: 'long' });
							day = st_date.toLocaleString('en-us', { weekday: 'short' });
							that.edit_st_date = day + ',' + date + ' ' + month;
							if (event.event.allDay == true) {
								last_date = ed_date.getDate() - 1;
							}
							else {
								last_date = ed_date.getDate();
							}
							end_year = ed_date.getFullYear();
							end_month = ed_date.toLocaleString('en-us', { month: 'long' });
							end_day = ed_date.toLocaleString('en-us', { weekday: 'short' });

							that.start_date = month + ' ' + date + ',' + ' ' + year + ' ' + '(' + day + ')';

							that.end_date = end_month + ' ' + last_date + ',' + ' ' + end_year + ' ' + '(' + end_day + ')';

							var minute = ('0' + new Date(event.event.start).getMinutes()).slice(-2);
							var hour = ('0' + new Date(event.event.start).getHours()).slice(-2);

							var end_min = ('0' + new Date(event.event.end).getMinutes()).slice(-2);
							var end_hour = ('0' + new Date(event.event.end).getHours()).slice(-2);

							that.start_time = hour + ":" + minute;

							that.end_time = end_hour + ":" + end_min;

							if (date == last_date) {
								that.start_date = month + ' ' + date + ' ' + '(' + day + ')';


								if (event.event.allDay == true) {
									console.log(last_date);
									that.end_date = end_month + ' ' + (last_date + 1) + ' ' + '(' + end_day + ')';
									that.interval = that.start_date + ' ' + '00:00' + ' - ' + that.end_date + ' 00:00';
									console.log(that.interval);
									that.all_day_start_date = that.start_date;
									that.all_day_end_date = that.end_date;
									that.start_time = '00:00';
									that.end_time = '00:00';

									// that.interval = that.start_date + ' ' + '00:00' + ' - ' + '00:00'
									that.edit_interval = that.start_date + ' ' + ' - ' + that.end_date;
								}
								else {
									that.single_day_start_date = that.start_date;
									that.single_day_end_date = that.end_date;
									that.single_day_start_time = that.start_time;
									that.single_day_end_time = that.end_time;
									that.interval = month + ' ' + date + ', ' + '(' + day + ')' + ' ' + that.start_time + ' - ' + that.end_time;


								}
							}

							else {

								if (event.event.allDay == true) {
									var c = ('0' + new Date(event.event._def.extendedProps.allday_start_time).getMinutes()).slice(-2);
									var d = new Date(event.event._def.extendedProps.allday_start_time).getHours()

									var em = ('0' + new Date(event.event._def.extendedProps.allday_end_time).getMinutes()).slice(-2);
									var eh = new Date(event.event._def.extendedProps.allday_end_time).getHours()
									that.end_date = end_month + ' ' + (last_date + 1) + ',' + ' ' + end_year + ' ' + '(' + end_day + ')';
									console.log(that.end_date);
									that.interval = that.start_date + ' ' + "00:00" + ' - ' + that.end_date + ' ' + "00:00";
									that.edit_interval = that.start_date + ' ' + ' - ' + that.end_date;
									that.all_day_start_date = that.start_date;
									that.all_day_end_date = that.end_date;
									that.start_time = "00:00";
									that.end_time = "00:00";

								}
								else {
									console.log(that.end_time);
									// console.log(that.end_date);
									// var c = ('0' + new Date(event.event._def.extendedProps.allday_start_time).getMinutes()).slice(-2);
									// var d = new Date(event.event._def.extendedProps.allday_start_time).getHours()
									// console.log(c)
									// console.log(d)
									// var em = ('0' + new Date(event.event._def.extendedProps.allday_end_time).getMinutes()).slice(-2);
									// var eh = new Date(event.event._def.extendedProps.allday_end_time).getHours()
									that.interval = that.start_date + ' ' + that.start_time + ' - ' + that.end_date + ' ' + that.end_time

									that.single_day_start_date = that.start_date;
									that.single_day_end_date = that.end_date;
									that.single_day_start_time = that.start_time;
									that.single_day_end_time = that.end_time

								}

							}


							that.calendar_name = event.event._def.extendedProps.calendar_name
							that.attendees = event.event._def.extendedProps.calendar_attendee


							calender_id = event.event._def.extendedProps.calender_id;

							var flag = 1;
							if ($('.calendar-wd__form-three').hasClass('active-event')) {
								$("#calendar").click(function (e) {
									var dtg = $(e.target).parents(".fc-daygrid-event").get(0);
									var ttg = $(e.target).parents(".fc-timegrid-event").get(0);

									if (!(dtg || ttg)) {
										console.log('close');
										$('.calendar-wd__form-three').removeClass('active-event');
										// $('.calendar-wd__form-three_drag').removeClass('active-event');

									}
								});
							}


						},



					});
					calendar.render();

				}
			},
		})

		$(document).keyup(function (e) {
			if (e.key === "Escape") {
				$('.calendar-wd__form-three').removeClass('active-event');
				$(".calendar-wd__form-three_drag").removeClass('active-event');
			}
		});
	</script>


</body>

</html>