{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lysa Calendar</title>

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
	<!-- <link rel="stylesheet" href="{% static 'custom.css' %}"> -->
	<link rel="stylesheet" href="{% static 'style.css' %}">



	<link rel="stylesheet" href="{% static 'full_calendar/main.css' %}">
	<style>
		.fc .fc-details-button {
			background-color: blue;
		}

		#app {
			background-color: rgb(251, 199, 251);
		}

		@media screen and (max-width:767px) {
			.fc .fc-toolbar.fc-header-toolbar {
				font-size: 60%
			}

			.fc .fc-timegrid-slot {
				font-size: 60%;

			}

		}

		.fc .fc-details-button {
			background-color: blue;
		}


		.fc .fc-view-harness {
			background-color: #FBFBFB;

			height: 100%;
			width: 75%;
			margin: auto;

		}

		.fc .fc-timegrid-slot {
			height: 1px;
			border-bottom: 0 !important;
			/* background-color: floralwhite; */


		}

		.fc .fc-view-harness fc-view-harness-active {
			background-color: antiquewhite;
		}


		.calendar-wd__popbar {
			background: #FFCBC3;
			z-index: 3333;
			position: absolute;
			text-align: left;
			padding: 10px;
			border-radius: 4px;
			top: 2%;
			left: 2%;
			width: 96%;
			height: 100%;
			border-radius: 15px;
			color: #F37764;
			z-index: 999999;
		}
	</style>


</head>

<body>
	<div class="calendar-wd__section" id="app">
		<div class="calendar-wd">
			<div id='calendar'></div>
			<br>
			<br>
			<div class="calendar-wd__form calendar-wd__form-three">
				<div class="close-icon close-three" @click.prevent="onClose"><img src="{% static 'img/close.png' %}"
						alt=""></div>
				<div class="calendar-wd__form-three--one">
					<div class="calendar-wd__form-three-head">
						<ul class="list-group calendar-wd__form-three-list" id="list-tab" role="tablist">
							<li><a @click.prevent="onEdit" class="list-group-item" data-bs-toggle="list" href="#"
									role="tab"><img src="{% static 'img/pen.png' %}" alt="#"></a></li>
							<li><a class="list-group-item" data-bs-toggle="list" href="#" role="tab"><i
										class="far fa-trash-alt" style="font-size:20px; color: black;"></i></a></li>
							<li><a class="list-group-item" data-bs-toggle="list" href="#" role="tab"><img
										src="{% static 'img/message.png' %}" alt="#"></a></li>
							<li><a class="list-group-item" data-bs-toggle="list" href="#f-tab5" role="tab"><i
										class="icofont-bread"></i><img src="{% static 'img/bell-2.png' %}" alt="#"></a>
							</li>
						</ul>
						<img src="{% static 'img/calander-banner.png' %}">
					</div>
					<div class="calendar-wd__form-three-body">
						<div class="tab-content" id="nav-tabContent">
							<!-- Property Tab One -->
							<div class="tab-pane fade show active" id="f-tab3" role="tabpanel">
								<div class="calendar-wd__form-separate-column">
									<div class="calendar-wd__form-three-one">
										<h2 class="calendar-wd__form-three-title">
											<span>[[calendar_name]]</span>[[event_title]]
										</h2>
										<div class="calendar-wd__form-body">
											<div class="calendar-wd__form-single">
												<h4 class="calendar-wd__form-heading"><i
														class="far fa-calendar-alt"></i>
													[[interval]]</h4>
											</div>
											<div class="calendar-wd__form-single">
												<h4 class="calendar-wd__form-heading"><a href="#"><img
															src="{% static 'img/memo.png' %}"
															alt="#">[[event_location]]</a></h4>
												<div class="calendar-wd__form-list">
													[[description]]
												</div>
											</div>
										</div>
									</div>
									<div class="calendar-wd__form-three-two">
										<ul class="calendar-wd__form-list-img calendar-wd__form-list-two"
											v-for="attendee in attendees">
											<li><img src="{% static 'img/icon.png' %}"
													alt="#">[[attendee.event_attendee]]</li>

										</ul>
										<div class="calander-wd__button calander-wd__button-guest">
											<span class="plus-icon"><a href="#"><i class="fa fa-plus"></i></span>Add
											guests</a>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="f-tab4" role="tabpanel">
								<div class="calendar-wd__form-three--two">
									<div class="calendar-wd__form-1">
										<form class="form">
											<div class="form-group">
												<div class="input-group">
													<input id="datepick" v-model="event_title" type="text"
														placeholder="">
												</div>
											</div>
											<div class="form-group calendar-wd__date-pick">
												<div class="form-control wide" tabindex="0"><i
														class="fa fa-calendar"></i><span class="current"><input
															id="datepick" v-model="interval" type="text"
															placeholder=""></span></div>
											</div>
											<div class="form-group">
												<div class="list-inner-group">
													<div class="list-single-group">
														<input type="text" v-model="start_time">
													</div>
													<div class="list-single-group">
														<input type="text" v-model="end_time">

													</div>
													<div class="list-single-group   project-dropdown">
														<select class="form-select" aria-label="Default select example">
															<option selected="">Don't repeat</option>
															<option value="1">Don't repeat</option>
															<option value="2">Don't repeat</option>
															<option value="3">Don't repeat</option>
														</select>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="input-group">
													<span class="input-icon"><i class="fa fa-map-marker"></i></span>
													<input id="datepick" v-model="event_location" type="text"
														placeholder="Add location">

												</div>
											</div>
											<div class="form-group">
												<div class="input-group">
													<input type="text" v-model="calendar_name">

												</div>

											</div>
											<div class="form-group">
												<div class="input-group">
													<textarea class="p-3" name="" id="" cols="70" rows="5"
														v-model="description"></textarea>
												</div>
											</div>
											<div class="form-group select-man mt-3">
												<ul class="select-list-img" v-for="attendee in attendees">
													<li><a href="#"><img src="{% static 'img/icon.png' %}"
																alt="#">[[attendee.event_attendee]]</a>
													</li>
												</ul>
												<ul>
													<li> <span><i class="fa fa-plus"></i></span> <span>Add People</span>
													</li>
												</ul>
											</div>
											<div class="form-group">
												<ul class="calendar-wd__clist">
													<li><img src="{% static 'img/calender.png' %}">Email Participants
													</li>
													<li><img src="{% static 'img/memo.png' %}">Add Notes</li>
													<li><img src="{% static 'img/bell.png' %}">Set Reminder</li>
												</ul>
											</div>
											<div class="form-group button">
												<button type="submit" class="theme-btn theme-sec">More options</button>
												<b class="theme-btn theme-primary calendar-wd__submit">Save</b>
												<b class="btn btn-danger btn-sm" @click.prevent="backTopopup">cancel</b>

											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
	<script src="{% static 'js/all.min.js' %}"></script>

	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static '/full_calendar/main.js'%}"></script>
	<script src='https://cdn.jsdelivr.net/npm/moment@2.27.0/min/moment.min.js'></script>
	<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/moment@5.5.0/main.global.min.js'></script>


	{% if debug %}
	<script src="{% static 'js/vue.js' %}"></script>
	{% else %}
	<script src="{% static 'js/vue.min.js' %}"></script>
	{% endif %}

	<script>
		$(document).ready(function () {


			$('.calendar-wd__blank_box,.close-one').on("click", function () {
				$('.calendar-wd__form').toggleClass('active');
			});
			$('.calendar-wd__submit,.close-one').on("click", function () {
				$('.calendar-wd__form-two,.calendar-wd__form-one').toggleClass('active');
			});



			$('.calendar-wd__popbar').on("click", function () {
				$('.calendar-wd__form-three').toggleClass('active-event');

			});

			$('.calendar-wd__form-three').hover(function () {
				$('.calendar-wd__form-three').addClass('plus-bonus');
			});

			$(".calendar-wd__form-three").hover(
				function () {
					$(this).removeClass("hover-active");
				}, function () {
					$(this).addClass("hover-active");
				}
			);
		})

		var app = new Vue({
			el: '#app',
			delimiters: ['[[', ']]'],
			data: {
				weekly_events: [],
				popup: false,
				event_title: '',
				calendar_name: '',
				attendees: [],
				start_time: '',
				end_time: '',
				event_location: '',
				start_date: '',
				edit_st_date: '',
				description: '',
				popup: false,
				flag: null,
				interval: '',

			},
			mounted: function () {
				this.showEvents();
			},
			methods: {
				onClose: function () {
					console.log('test');
					$(".calendar-wd__form-three").toggleClass('active-event');

				},
				// oncloseEvent: function () {
				// 	if(this.flag == 1){
				// 		console.log(this.flag);
				// 		$(".calendar-wd__form-three").removeClass('active-event');	
				// 	}
				// 	// if($('.calendar-wd__form-three').hasClass('active-event')){
				// 	// 	$(".calendar-wd__form-three").removeClass('active-event');
				// 	// }
				// },
				onEdit: function () {
					$('#f-tab4').addClass('show active');
					$('#f-tab3').removeClass('show active');
					// $('')
				},
				backTopopup: function () {
					$('#f-tab4').removeClass('show active');
					$('#f-tab3').addClass('show active');

				},



				showEvents: function () {
					var that = this;
					$.ajax({
						method: 'GET',
						url: 'api/event-filter/' + 'weekly',
					}).then(response => {
						that.weekly_events = response.events;
						that.weeklyCalendar();
					})
				},

				weeklyCalendar: function () {
					var that = this;


					var calendarEl = document.getElementById('calendar');
					// calendarEl.addEventListener("click", function () {
					// 	alert("Hello World!");
					// });
					var calendar = new FullCalendar.Calendar(calendarEl, {

						headerToolbar: {
							left: 'prev,add_event,slot',
							center: 'title',
							right: 'setting,dayGridMonth,timeGridWeek,timeGridDay,listWeek,next'
						},
						customButtons: {
							add_event: {
								text: '+ Add Event',
							},
							slot: {
								text: 'Find Slot',
							},
							setting: {
								text: 'setting',
								// bootstrapFontAwesome:'fas fa-cog',
							},

						},
						droppable: true,
						eventResizableFromStart: true,
						eventStartEditable: true,
						initialView: 'timeGridWeek',
						alldaySlot: true,
						duration: { hours: 8 },
						slotDuration: '00:30',
						navLinks: true, // can click day/week names to navigate views
						nowIndicator: true,

						weekNumbers: true,

						editable: true,
						// defaultView: 'week',
						selectable: true,
						dayMaxEvents: true,
						allDayMaintainDuration: true,
						events: that.weekly_events,
						eventDidMount: function (info) {
							now = new Date()
							if (info.event.end < now) {
								info.el.style.opacity = "0.5";
							}

							// {description: "Lecture", department: "BioChemistry"}
						},
						eventDataTransform: function (event) {
							if (event.allDay) {
								// moment(end_date, 'YYYY-MM-DD').add(1, 'days').format('YYYY-MM-DD HH:mm:SS')                                                                                                                                            
								event.end = moment(event.end, 'YYYY-MM-DD').add(1, 'days').format('YYYY-MM-DD HH:mm:SS')
							}
							return event;
						},
						eventClick: function (event) {
							console.log(event);

							$('.calendar-wd__form-three').addClass('active-event');
							$('#f-tab4').removeClass('show active');
							$('#f-tab3').addClass('show active');

							that.event_title = event.event._def.title;

							that.event_location = event.event._def.extendedProps.event_location;
							that.description = event.event._def.extendedProps.event_description.slice(0, 400);

							// that.start_time = new Date(event.event.start).toLocaleTimeString();
							// that.end_time = new Date(event.event.end).toLocaleTimeString();
							var st_date = new Date(event.event.start);
							var ed_date = new Date(event.event.end);
							date = st_date.getDate();
							year = st_date.getFullYear();
							month = st_date.toLocaleString('en-us', { month: 'long' });
							day = st_date.toLocaleString('en-us', { weekday: 'short' });
							that.edit_st_date = day + ',' + date + ' ' + month;
							if (event.event.allDay == true) {
								last_date = ed_date.getDate() - 1;
							}
							else {
								last_date = ed_date.getDate();
							}
							end_year = ed_date.getFullYear();
							end_month = ed_date.toLocaleString('en-us', { month: 'long' });
							end_day = ed_date.toLocaleString('en-us', { weekday: 'short' });

							that.start_date = month + ' ' + date + ',' + ' ' + year + ' ' + '(' + day + ')';

							that.end_date = end_month + ' ' + last_date + ',' + ' ' + end_year + ' ' + '(' + end_day + ')';

							var minute = ('0' + new Date(event.event.start).getMinutes()).slice(-2);
							var hour = ('0' + new Date(event.event.start).getHours()).slice(-2);

							var end_min = ('0' + new Date(event.event.end).getMinutes()).slice(-2);
							var end_hour = ('0' + new Date(event.event.end).getHours()).slice(-2);

							that.start_time = hour + ":" + minute;

							that.end_time = end_hour + ":" + end_min;

							if (date == last_date) {
								if (event.event.allDay == true) {
									console.log(last_date);
									that.end_date = end_month + ' ' + (last_date + 1) + ',' + ' ' + end_year + ' ' + '(' + end_day + ')';
									that.interval = that.start_date + ' ' + '00:00' + ' - ' + that.end_date + ' 00:00';
									console.log(that.interval);

									// that.interval = that.start_date + ' ' + '00:00' + ' - ' + '00:00'

								}
								else {
									that.interval = that.start_date + ' ' + that.start_time + ' - ' + that.end_time
								}
							}

							else {

								if (event.event.allDay == true) {
									that.end_date = end_month + ' ' + (last_date + 1) + ',' + ' ' + end_year + ' ' + '(' + end_day + ')';
									console.log(that.end_date);
									that.interval = that.start_date + ' ' + '00:00' + ' - ' + that.end_date + ' 00:00';

								}
								else {
									console.log(that.end_time);
									// console.log(that.end_date);
									// var c = ('0' + new Date(event.event._def.extendedProps.allday_start_time).getMinutes()).slice(-2);
									// var d = new Date(event.event._def.extendedProps.allday_start_time).getHours()
									// console.log(c)
									// console.log(d)
									// var em = ('0' + new Date(event.event._def.extendedProps.allday_end_time).getMinutes()).slice(-2);
									// var eh = new Date(event.event._def.extendedProps.allday_end_time).getHours()
									that.interval = that.start_date + ' ' + that.start_time  + ' - ' + that.end_date + ' ' + that.end_time 
								}

							}


							that.calendar_name = event.event._def.extendedProps.calendar_name
							that.attendees = event.event._def.extendedProps.calendar_attendee


							calender_id = event.event._def.extendedProps.calender_id;

							var flag = 1;
							$("#calendar").click(function (e) {
								console.log(event.el);
								var dtg = $(e.target).parents(".fc-daygrid-event").get(0);
								var ttg = $(e.target).parents(".fc-timegrid-event").get(0);

								if (!(dtg || ttg)) {
									console.log('close');
									$('.calendar-wd__form-three').removeClass('active-event');
								}
							})



						},



					});
					calendar.render();

				}
			},
		})


	</script>


</body>

</html>