<!-- {% comment %}
							<form class="form" @submit.prevent="saveEvent">

								<div class="form-group">
									<div class="input-group">
										<label for="">Event Name</label>
										<input id="eventpick" v-model="drag.drag_event_name" type="text" placeholder="">
									</div>
								</div>
								<div class="form-group calendar-wd__date-pick">
									<div class="form-control wide" tabindex="0"><i class="fa fa-calendar"></i><span
											class="current"><input id="datepick" v-model="drag.datepick" type="text"
												placeholder="Wednesday, 1 December"></span>
									</div>
								</div>
								<div class="form-group">
									<div class="list-inner-group">
										<div class="list-single-group">
											<select class="form-select" aria-label="Default select example">
												<option selected>[[drag.start_time]]</option>
												<option>
													15.30</option>
												<option value="1">15.30
												</option>
												<option value="2">15.30
												</option>
												<option value="3">15.30
												</option>
											</select>
										</div>
										<div class="list-single-group">
											<select class="form-select" aria-label="Default select example">
												<option selected value="">[[drag.end_time]]</option>
												<option>
													16.30</option>
												<option value="1">16.30
												</option>
												<option value="2">16.30
												</option>
												<option value="3">16.30
												</option>
											</select>
										</div>
										<div class="list-single-group   project-dropdown">
											<select class="form-select" aria-label="Default select example">
												<option selected="">
													Don't repeat
												</option>
												<option value="1">Don't
													repeat</option>
												<option value="2">Don't
													repeat</option>
												<option value="3">Don't
													repeat</option>
											</select>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<span class="input-icon"><i class="fa fa-map-marker"></i></span>
										<input id="datepick" v-model="drag.location" type="text"
											placeholder="Add location">
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<textarea name="" id="" v-model="drag.description" cols="30"
											rows="10"></textarea>
									</div>
								</div>
								<div class="form-group project-dropdown">
									<select v-model="cal_name" @change="selectedCalendar($event)" class="form-select"
										aria-label="Default select example">
										<option v-for="calendar in calendars" :value="calendar.calendar_name">
											[[calendar.calendar_name]]</option>
									</select>
								</div>
								<div class="form-group select-man">
									<ul class="select-list-img" style="list-style-type:none">
										<li><a href="#"><img src="img/icon.png" alt="#"></a></li>
										<li><a href="#"><img src="img/icon-2.png" alt="#"></a></li>
										<li><a href="#"><img src="img/icon-3.png" alt="#"></a></li>
										<li><span class="plus-icon"><i class="fa fa-plus"></i></span>
										</li>
									</ul>
								</div>


								<div class="form-group button">
									<button type="submit" class="theme-btn theme-sec">More
										options</button>
									<button type="submit" class="theme-btn theme-primary calendar-wd__submit"
										id="eventFlag">Save</button>
								</div>
							</form>
							{% endcommit %} -->








							// var ds_date = ds.getDate()
							// if (this.drag.selectionInfo.allDay == true){
							// 	var de_date = de.getDate() - 1 ;
								
								
							// }
							// else{
							// 	de_date = de.getDate()
							// }
							
							// var startdateString =
							// 	ds.getFullYear() + "-" +
							// 	("0" + (ds.getMonth() + 1)).slice(-2) + "-" +
							// 	("0" + ds_date).slice(-2) + "T" +
							// 	("0" + ds.getHours()).slice(-2) + ":" +
							// 	("0" + ds.getMinutes()).slice(-2) + ":" +
							// 	("0" + ds.getSeconds()).slice(-2);
		
							// console.log(startdateString);
							// // if(this.drag.selectionInfo.allDay == true){
							// // 	console.log(ds.getDate(), de.getDate())
							// // 	if(ds.getDate() != (de.getDate() - 1)){
							// // 		var de_date = de.getDate() - 1;
							// // 		console.log(ds.getDate(), de.getDate())
		
							// // 	}
							// // 	else{
							// // 		var de_date = ds.getDate() ;
							// // 		console.log(ds.getDate(), de.getDate(), 'else')
		
		
							// // 	}
							// // }
							// // else{
							// // 	var de_date = de.getDate() ;
							// // }
							// console.log(de_date);
							// var enddateString =
							// 	de.getFullYear() + "-" +
							// 	("0" + (de.getMonth() + 1)).slice(-2) + "-" +
							// 	("0" + de_date).slice(-2) + "T" +
							// 	("0" + de.getHours()).slice(-2) + ":" +
							// 	("0" + de.getMinutes()).slice(-2) + ":" +
							// 	("0" + de.getSeconds()).slice(-2);
							// console.log(startdateString);
							// console.log(enddateString);







							var st_year = (info.event.start).getFullYear();
							var ed_year = (info.event.end).getFullYear();

							var st_month = ("0" + (new Date(info.event.start).getMonth() + 1)).slice(-2);
							var st_date = ("0" + (new Date(info.event.start).getDate())).slice(-2);

							var ed_month = ("0" + (new Date(info.event.end).getMonth() + 1)).slice(-2);
							console.log(ed_month);
							var ed_date = ("0" + (new Date(info.event.end).getDate())).slice(-2);


							var new_start_date = info.event.start;
							var new_end_date = info.event.end;
							console.log(new_start_date, new_end_date)

							if (this.allDayEvent) {
								ed_date = ed_date - 1;
								if (ed_date == 0) {
									ed_date = st_date;
									ed_month = st_month;
									ed_year = st_year;
								}
								new_start_date = st_year + '-' + st_month + '-' + st_date + "T" + "00:00:00";
								new_end_date = ed_year + '-' + ed_month + '-' + ed_date + "T" + "00:00:00";
								console.log(new_start_date,new_end_date);
							}
							