

.input-icon {
	color: #8F8F8F;
	font-size: 18px;
}
.calendar-wd__click_open {
	background: #f7f7f7;
	padding: 7px 22px;
	display: inline-block;
	border: 1px solid #ccc;
	color: #666;
	border-radius: 30px;
}
.calendar-wd__click_open:hover{
	background:#353535;
}
.select-list-img {
	display: flex;
}
.theme-btn {
	cursor: pointer;
}
.calendar-wd__click_open:hover {
	background: #FF6F1A;
	color: #fff;
	border-color:transparent;
}
.calendar-wd__count {
  display: block;
}
.calendar-wd__title {
	text-align: center;
	font-size: 14px;
	color: #9F9F9F;
	font-weight: 700;
	text-transform: uppercase;
	padding: 15px 0;
}
.calendar-wd__count-one {
	border-radius: 100%;
	background: #FF6F1A6B;
	color: #3C414E;
}
.calendar-wd__count {
	width: 48px;
	height: 48px;
	line-height: 48px;
	display: inline-table;
	/* font-size: ; */
	font-size: 20px;
	border-radius: 100%;
}
.calendar-wd__dname {
	display: block;
}
.calendar-wd__count-two {
	background: #3C414E;
}
.calendar-wd__focus .calendar-wd__active-focus {
	background: #3C414E;
	color: #fff;
}
.calendar-wd__form .form-group {
	position: relative;
	margin-bottom: 12px;
}
.calendar-wd__form .form-group:last-child {
	margin: 0;
}.calendar-wd__clist {
	padding: 0;
	margin: 0;
}
/* .calendar-wd__form input {
	border: none;
	border-bottom: 1px solid #eee;
	width: 100%;
	height: 38px;
} */


.calendar-wd__clist li img {
	margin-right: 10px;
}
.list-inner-group {
	position: relative;
	z-index: 333;
	display: flex;
	align-items: center;
}
.list-inner-group .nice-select {
  border: none;
  border-bottom: 1px solid #eee;
  border-radius: 0px;
}
.list-inner-group .list-single-group {
  margin: ;
  margin: 5px;
}
.list-inner-group .nice-select {
	width: auto;
	padding: 0 20px;
}
/* .input-group {
	justify-content: center;
	align-items: center;
	gap: 5px;
	flex-wrap: initial;
	gap: 10px;
} */
.list-inner-group .nice-select::after {
	top: 12px;
	left: ;
	left: ;
	right: 0;
}
.form-group .nice-select {
	width: 100%;
}
.form-group.button {
	text-align: center;
}
.form-group.calendar-wd__date-pick i {
	position: absolute;
	right: 0;
	top: 10px;
}
.calendar-wd__time {
	font-size: 13px;
	font-weight: 700;
	color: #9F9F9F;
	position: relative;
	top: -26px;
	background: #fff;
	box-shadow: none;
	padding: 0;
}
.calendar-wd__first-row {
	width: 8%;
	padding: 0 !important;
	padding: 0 10px !important;
}
.calendar-wd__inner-text {
	font-size: 12px;
}
div.project-dropdown select {
	border: 1px solid #cccccc9e;
	padding: 5px;
	border-radius: 3px;
	color: #555;
}

div.project-dropdown select:before {
  content: "";
  position: absolute;
  left: 0;
  width: 10px;
  height: 10px;
  background: red;
}
.form-group.project-dropdown:before{
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 10px;
  height: 10px;
  background: #FFCBC3;
  z-index: 333;
  border-radius: 100%;
}
.form-group.project-dropdown select {
  padding-left: 20px;
}
.calendar-wd__popbar-time {
	font-size: 12px;
	font-weight: 700;
	border-radius: 5px;
	overflow: hidden;
}
.calendar-wd__popbar.big-pop {
	height: 300px;
}
.small-color {
	background: #EDD5EB;
}

.calendar-wd__main th,.calendar-wd__main tr td {
  width: 100px !important;
}
.calendar-wd__main th:first-child, .calendar-wd__main tr td:first-child {
	width: 50px !important;
	padding: 0 !important;
	text-align: center;
}
.close-icon {
	position: absolute;
	top: -12px;
	right: -12px;
	cursor: pointer;
	max-width: 28px;
	z-index: 33333;
	transition: all 0.3s ease;
}
.calendar-wd__head tr {
	border: ;
	border-top: 0px;
	border-left: ;
}
.calendar-wd__clist li img {
	margin-right: 15px;
	max-width: 15px !important;
}
.calendar-wd__form-badge {
	background: #FFCBC3;
	display: inline-block;
	margin-top: 15px;
	padding: 2px 15px;
	border-radius: 30px;
	font-size: 14px;
}
.calendar-wd__form-title {
	margin-top: 15px;
}
.calendar-wd__form-two {
	position: absolute;
	top: 0;
	background: #fff;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 333;
	text-align: center;
	padding: 50px 0;
	opacity: 0;
	visibility: hidden;
}
.calendar-wd__form-two.active{
	opacity: 1;
	visibility: visible;
}

.calendar-wd__form-one.active{
	opacity:0;
	visibility:hidden;
}


.plus-icon {
	background: #fff;
	width: 30px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	color: #8F8F8F;
	text-align: center;
	border-radius: 100%;
	margin-right: 5px;
	cursor: pointer;
}
.list-inner-group select {
	background: transparent;
	border: none;
	border-bottom: 1px solid #ccc;
	padding: 0 10px;
}
.calendar-wd__blank_box span {
	width: 65%;
}
.select-list-img .plus-icon {
	border: 1px solid;
	margin-left: 5px;
}


.calendar-wd__form-three {
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
	transform: translateY(-20px);
}
.calendar-wd__form-three.active-event{
	opacity:1;
	visibility:visible;
	transform:translateY(0px);
}
.calendar-wd__form-three-list {
	position: absolute;
	display: flex;
	gap: 30px;
	top: 20px;
	right: 40px;
	flex-direction: inherit;
}
.calendar-wd__form-three-one {
}
.calendar-wd__form-list-two {
	padding-left: 0;
}
.calendar-wd__form-separate-column {
	display: flex;
	gap: 60px;
}
.calendar-wd__form-three-list .list-group-item {
	background: transparent;
	border: none;
	padding: 0;
}
.calendar-wd__form-three-head {
  position: relative;
}
.calendar-wd__form-three {
	width: 800px;
	margin: 0 auto;
	right: 0;
	position: absolute;
	z-index: 999999;
	box-shadow: 0px 0px 5px #00000054;
	top: 25px;
	padding: 0;
	border: none;
	z-index: 333333333333;
	left: -100px;
}
.calendar-wd__main th {
	cursor: pointer;
}
.calendar-wd__form-three-list li img {
	width: 22px;
}
.calendar-wd__form-three-two {
	border-left: 1px solid #eee;
	padding-left: 20px;
}
.calendar-wd__form-three-body {
	background: #fff;
	padding: 45px;
}
.calendar-wd__form-heading a {
  color: #C887C3;
  text-decoration: underline;
}
.calendar-wd__form-three-body {
}
.calendar-wd__form-three-title {
  font-size: 25px;
  display: flex;
  gap: 12px;
  margin-bottom: 30px;
}
.calendar-wd__form-three-title span {
  background: #EDD5EB;
  border-radius: 30px;
  font-size: 14px;
}
.calendar-wd__form-single {
  margin-bottom: 30px;
}
.calendar-wd__form-heading,.calendar-wd__form-heading a {
  display: flex;
  gap: 5px;
  color: #5D616E;
  font-size: 17px;
}
.calendar-wd__form-list {
	padding-left: 35px;
	margin-top: 20px;
}
.calendar-wd__form-list li {
  color: #8F8F8F;
}
.calendar-wd__form-list-img {
  gap: 20px;
}
.calendar-wd__form-list-img img {
	width: 40px;
	height: 40px;
	line-height: 40px;
}
.calendar-wd__form-list-img li {
	display: flex;
	gap: 12px;
	align-items: center;
}

.calander-wd__line {
  position: relative;
}
.calander-wd__line:before {
  content: "";
  position: absolute;
  left: 0;
  top: 25px;
  width: 100%;
  height: 2px;
  background: #FF6F1A;
}
.calander-wd__line:after {
  content: "";
  position: absolute;
  left: -3px;
  top: 20px;
  width: 10px;
  height: 10px;
  background: #FF6F1A;
  border-radius: 100%;
}
#grid-snap {
	z-index: 1000000;
}
.calendar-wd__main tr td {
	cursor: pointer;
}

.calendar-wd__form-heading img {
	line-height: 18px;
	max-width: 24px !important;
	margin-right: 5px;
}
.calendar-wd__form-heading a {
	color: #C887C3;
}
.calendar-wd__form.calendar-wd__form-three.active {
	opacity: 0;
	visibility: hidden;
}

.calander-wd__button-guest {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.calander-wd__button-guest .plus-icon {
  width: 40px;
  height: 40px;
  border: 1px solid #8F8F8F;
  line-height: 40px;
}
.calander-wd__button-guest .plus-icon a {
  color: #8F8F8F;
}
.calander-wd__button-guest a {
  color: #C887C3;
  text-decoration: underline;
}

.calendar-wd__full-height {
	height: 2425%;
}
.form-select:focus {
	box-shadow: none;
	border-color: #cccccc9e;
}
.calendar-wd__off-day {
	opacity: 0.5 !important;
}

.calendar-wd__form-three.hover-active .calendar-wd__form-three-list, .calendar-wd__form-three.hover-active .close-three{
	opacity:0;
	visibility:hidden;
} 